<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Airbrake.ProjectId" value="272937" />
    <add key="Airbrake.ProjectKey" value="a65d7a49fc653422a03559854cc5be50" />
    <add key="Airbrake.LogFile" value="airbrake.log" />
  </appSettings>
</configuration>